###################
# compiled source #
###################

# object
*.o
*.so

# python compiled files
*.pyc

# ctags file
tags

# main executable
shelly

*.chk

output/*
output-data

# latex ignores
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.fls
*.fdb_latexmk
*.nfs*
